@model FichaTecnica.Models.GraficoAtividadesModel
@{
    ViewBag.Title = "Grafico de atividades";
}

<h2>Gráfico de atividades</h2>

<div class="jumbotron">

    <h6>Commits: <a id="link-commits"> @string.Concat(Model.URLBaseAPI, Model.Links.First().URL, "commits?per_page=3")</a></h6>

    <table class="table table-bordered table-hover" id="lista">

        <th>Imagem</th>
        <th>Mensagem</th>
        <th>Data</th>
        <th>Email</th>

    </table>

</div>

@section Scripts {
    <script type="text/javascript">

        var model = @Html.Raw(Json.Encode(Model));
        var link = $('#link-commits').html();
        var commitList = [];

        /*
        $.get(link)
          .done(function(response) {
            response.forEach(function(i) {
              $('#lista')
                .append($('<tr>')
                  .append($('<td style="width: 60px;">')
                    .append($('<img style="width:53px;">').attr('src', i.committer.avatar_url))
                  ).append($('<td>').text(i.commit.message))
                    .append($('<td>').text(i.commit.committer.date.slice(0, 10)))
                    .append($('<td>').text(i.commit.committer.email))
                )
              })
          });
          */

        model.Links.forEach(function(l) {
            
            $.get(model.URLBaseAPI + l.URL + 'commits')
                .done(function (response) {
                    response.forEach(function (i) {
                        commitList.push({ sha: i.sha, date: new Date(i.commit.author.date).getTime(), message: i.commit.message })
                    })
                })
        })
        
        //TODO: refactor meio alternativo sem setTimeout

        setTimeout(function(){ 
            commitList.sort(function (left, right) { return left.date > right.date })
            commitList = commitList.slice(0, 3);

            commitList.forEach(function(commit) { 
                $('#lista')
                    .append($('<tr>')
                      .append($('<td style="width: 60px;">'))
                        .append($('<td>').append($('<a>').html(commit.message).attr('href', model.URLBase + '/commit/' + commit.sha) ))
                        .append($('<td>').text(new Date(commit.date)))
                )
            }) }, 1000);

    </script>
}