body {
}

.nomeProjeto{
    font-family:fantasy;
    font-size: 45px;
    color: #FFFCF9;
}

.infosProjeto{
    font-family:fantasy;
    font-size: 20px;
    color: #FFFCF9;
}

.labelMembros{
     font-family:fantasy;
     font-size: 30px;
}

.imagemHeader{
    float:right;
    padding-left:50px;
}

.Cartao{ 
    float:left;
    position: relative;
    width: 100%;
    padding-bottom: 15%;
    margin:1.66%;
    border-radius: 15px 55px;
    overflow:hidden;
    background-color: #B1EDE8;
    color: #FFF;
}

.mudarCorFicha{
    background-color: #6D435A;
    color: #B1EDE8;
}

.content{
    position:absolute;
    height:80%;
    width:90%; 
    padding-top: 0%;
    padding-left: 0%;
    color: #FFF;
}

.imagem{
    position: absolute;
}

.campos{
    position: relative;
    padding-top: 20%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    font-size: 15px;
    color: #FFF;
}

.campos-Positivo{
    display:inline-block;
    padding-top: 0.55%;
    padding-right: 0%;
    padding-left: 5%;
    padding-bottom: 0%;
    margin-top: 2.88%;
    margin-left: 42%;
    font-size: 20px;
    color: #FFF;
}

.campos-Negativo{
    display:inline-block;
    padding-top: 0.40%;
    padding-right: 0%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
    font-size: 20px;
    color: #FFF;
    
}

.linhaVertical{
    display:inline-block;
    width: 1px; 
    background-color: black; 
    height: 150%; 
    padding-left: 0.20%;
    margin-left: 0%;
    margin-right: 40%;

}

.divLateral{
    display:inline-block;
    position: absolute;
    padding-top: 3%;
    padding-left:0%;
    padding-right:40%;
    margin-left: 5%;
    cursor: pointer;
}

.divMenssagemUltimoCommit{
    display:inline-block;
    position: absolute;
    padding-top: 3%;
    margin-left: 0%;
    padding-left: 10%;
    color: #FFF;
}

.resumoMembro{
    position:absolute;
    padding-top: 2%;
    padding-right: 58%;
    padding-left: 12%;
    padding-bottom: 0%;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

.resumoMembro-nomeMembro{
    font-size: 25px;
    color: #FFF;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.imagem-projeto {
    padding: 6%;
    background-color: #6D435A;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
}

.titulo-projeto {
    font-weight: bolder;
    padding: 9%;
    font-size: 70px;
    color: #FFF;
}

.Cartao p
{
    color: #6D435A;
}

.mudarCorFicha p 
{
    color: #FFFCF9;
}

.col-centered{
    display: block;
    margin: 0 auto;
}