body {
}

.Cartao{ 
  float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin:1.66%;
    overflow:hidden;
    background-color: #ff8533;
}

.mudarCorFicha{
    background-color: #F50F0F;
}

.content{
    position:absolute;
    height:80%;
    width:90%; 
    padding: 0% 0%;
}

.imagem{
    position: absolute;
}

.campos{
    position: relative;
    padding-top: 35%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.cargo{
    position:absolute;
    height:80%;
    width:90%; 
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 65%;
    padding-bottom: 0%;
}