body {
}

.Cartao{ 
    float:left;
    position: relative;
    width: 45%;
    padding-bottom: 40%;
    margin:1.66%;
    border-radius: 15px 55px;
    overflow:hidden;
    background-color: #ff8533;
}

.mudarCorFicha{
    background-color: #ff9999;
}

.content{
    position:absolute;
    height:80%;
    width:90%; 
    padding: 0% 0%;
}

.imagem{
    position: absolute;
}

.campos{
    position: relative;
    padding-top: 40%;
    padding-right: 0%;
    padding-left: 5%;
    padding-bottom: 0%;
    font-size: 15px;
}

.resumoMembro{
    position:absolute;
    height:80%;
    width:90%; 
    padding-top: 10%;
    padding-right: 0%;
    padding-left: 30%;
    padding-bottom: 0%;
    font-size: 20px;
}

.imagem-projeto {
    padding: 6%;
    background-color: #3F51B5;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
}

.titulo-projeto {
    font-weight: bolder;
    padding: 9%;
    font-size: 70px;
    color: #FFF;
}

.buttonFichaCompleta {
    position: relative;
    padding: 5px 5px;
    margin: 0px 2px 2px 0px;
    float: right;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.buttonFichaCompleta:hover, 
.buttonFichaCompleta:focus {
    text-decoration: none;
    color: #fff;
}

.buttonFichaCompleta:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}